<!-- Dependencies-->
<router-outlet></router-outlet>
<app-navbar></app-navbar>

<!-- Home component-->
<body>
  <div>
    <div *ngIf="getStep() == 'home'">
      <div class="title-container">
        <h1> Agenda Ai </h1>
        <h3>
          O aplicativo de agendamentos
          <a href="https://github.com/rmmourad/AgendaAi">Open Source</a>
          Confiável e seguro!
        </h3>
      </div>
        <div class="buttons-container">
          <p (click)="redirectToComponent('customer-login')">Cliente</p>
          <p (click)="redirectToComponent('business-login')">Empresas</p>
        </div>
      </div>

      <!-- LOGIN -->

      <!-- Cliente-->
      <div class="customer-login" *ngIf="getStep()=='customer-login'">
        <app-customer></app-customer>
      </div>

      <!-- Empresa-->
      <div class="business-login" *ngIf="getStep()=='business-login'">
        <app-business></app-business>
      </div>

      <!-- BUSCAR SERVICOS - CLIENTES -->
      <div class="customer-data" *ngIf="getStep()=='customer'">
        <h2>Busque serviços</h2>
        <div>
          <input type="text" placeholder="Digite o serviço que deseja">
          <button >Buscar</button>
          <div>
            <h3>Resultados</h3>
            <div>
              <p>Nome do serviço</p>
              <p>Nome do prestador</p>
              <p>Endereço</p>
              <p>Telefone</p>
              <p>Horário</p>
              <button>Agendar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- BUSCAR PEDIDOS - EMPRESAS -->
       <div class="business-data" *ngIf="getStep()=='business'">
        <h2>Seus agendamentos</h2>
       </div>
    </div>
</body>
