<app-header></app-header>
<router-outlet></router-outlet>

<div *ngIf="showHomePage">
  <body class="home-page">
    <div class="landing-container">
      <div class="overlay">
        <div class="content">
          <h1 class="title">AgendaAi</h1>
          <h2>Open Source, confiável e perfeito para todos os clientes e empresas!</h2>
          <div class="button-group">
            <a href="/customer" class="btn btn-primary">Clientes</a>
            <a href="/business" class="btn btn-secondary">Empresas</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>
